# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
__pycache__/
.venv/
csv_loader/*.csv
csv_loader/*.md
!csv_loader/sample.csv
!csv_loader/search_text.py
!csv_loader/get_headers.py